body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: rgb(86, 15, 15);
}

img.logo{
    float:left;
    width: 100px;
}

div.navbar{
    margin-left:8px;
    margin-right:8px;
}

div.navbar::after{
    content: " ";
    display:block;
    clear: both;
    width:50%;
}

/*navigation styles*/
nav{
    padding-top: 35px;
    padding-right: 10px;
}

nav ul{
    justify-content: right;
    margin:0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

nav ul li a{
    margin: 0.5em;
    color: white;
    transition: all 0.2s ease-in ;
}

nav ul li a:hover{
    color:rgb(251, 251, 92);
    cursor: pointer;
}

nav ul li a#contact{
    border: 2px solid rgb(251, 251, 92);
    padding: 0.5em; 
    border-radius: 2em;
}

nav ul li a#contact:hover{
    background-color: rgb(251, 251, 92);
    color:black;
}

/*description styles*/
main{
    margin-left: 8px;
    margin-right: 8px;
}

div.welcome{
    margin-top: 200px;
}

h1#about-heading, h1#team-heading{
    text-transform: uppercase;
    text-align: center;
}

h1#about-heading::before{
    content: '';
    position:relative;
    top: 1.2em;
    display: block;
    width:200px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 100px);
}

h1#team-heading::before{
    content: '';
    position:relative;
    top: 1.2em;
    display: block;
    width:120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

h1#about-heading::after{
    content: '';
    position: relative;
    display: block;
    width: 80px;
    height: 3px;
    background: rgb(136, 21, 21);
    bottom: 1px;
    left: calc(50% - 40px);
}

h1#team-heading::after{
    content: '';
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background: rgb(136, 21, 21);
    bottom: 1px;
    left: calc(50% - 25px);
}

div#about-description{
    margin: auto;
    background-color: rgba(191, 94, 94, 0.675);
    border: 3px solid rgb(136, 21, 21);
    border-radius: 0.5em;
    padding: 0.5em;
    width: 50%;
    text-align: center;
}

/*team styles*/
div.container{
    display:inline;
    position: relative;
    text-align: center;
    color: black;
}

img.team{
    opacity: 1;
    width: 25%;
    margin: calc(23%/6);
    border: 3px solid rgb(136, 21, 21);
    border-radius: 50%;
    transition: 0.5s ease;
}

div.member-name{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

footer{
    background-color: rgb(86, 15, 15);
}

div.footer{
    padding: 8px;
}

ul.footer{
    margin: 0;
    list-style-type: none;
    font-weight: 100;
    color: white
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    cursor: pointer;
}